<div id="actions">
  <ion-button size="large" color="dark" (click)="tempo.togglePlaying()">
    <ion-icon slot="icon-only" [md]="getPlayIcon()"></ion-icon>
  </ion-button>
  <ion-button size="large" color="dark" (click)="tempo.toggleColorChange()">
    <ion-icon slot="icon-only" [src]="getColorIcon()"></ion-icon>
  </ion-button>
  <ion-button size="large" color="dark" (click)="tempo.toggleMute()">
    <ion-icon slot="icon-only" [md]="getSoundIcon()"></ion-icon>
  </ion-button>
  <ion-button size="large" color="dark" (click)="tempo.toggleVibration()">
    <ion-icon slot="icon-only" [src]="getVibrationIcon()"></ion-icon>
  </ion-button>
</div>
